





<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <header>
      <h4>Books</h4>
    </header>
    
    <table>
      <thead>
        <tr>
          <th>title</th>
          <th>body</th>
          <th colspan="3"></th></th>
        </tr>
      </thead>  
    </table>
    
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to 'show', book %></td>
        <td><%= link_to 'edit', book %></td>
        <td><%= link_to 'destroy', book, method: :delete, "data-confirm" => 本当に削除しますか？ %></td>
      </tr>
    </tbody>
    
    
    
    
    

<div class="new-book">
<h1>New Book</h1>
<%= form_with model: Book.new do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
</div>


</body>
</html>